@model IEnumerable<ProyectoWizard.Models.Productos>
@using System.Security.Claims;
<div class="card-body">
	@if (User.Identity!.IsAuthenticated) { 
	<h1 class="display-4">Bienvenido
		@User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()
	</h1>
	}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.nombre)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.precio)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.cantidad)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.fecha_registro)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.estado)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>

					<td>
						@Html.DisplayFor(modelItem => item.nombre)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.precio)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.cantidad)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.fecha_registro)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.estado)
					</td>
					<td>
						@Html.ActionLink("Crear", "Wizar") |
						@Html.ActionLink("Ver", "Ver", new { id = item.id_producto }) |
						@Html.ActionLink("Eliminar", "Eliminar", new { id = item.id_producto }) |
						@Html.ActionLink("Actualizar", "Actualizar", new { id = item.id_producto })
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>